@(pf: Form[model.Project], step: Int=0)(implicit ctx: views.util.ViewContext)
@import helper._
@import views.util.bootstrap._
@import views.html.util.{bootstrap => custom}
@import play.api.libs.json.Json

@scripts = {
<script src="@routes.Assets.at("javascripts/bootstrap-fileupload.min.js")"></script>
<script src="@routes.Assets.at("javascripts/syntaxhighlight/shCore.js")"></script>
<script src="@routes.Assets.at("javascripts/syntaxhighlight/shBrushXml.js")"></script>
<script src="@routes.Assets.at("javascripts/syntaxhighlight/shBrushScala.js")"></script>
<script lang="text/javascript">
ko.validation.configure({
    registerExtenders: true,
    messagesOnModified: true,
    insertMessages: false,
    parseInputAttributes: true
});

var importModel = {
    fileName: ko.observable(),
    importOption: ko.observable("manual"),
    verifyAndNextStep: function() {
        if (this.importOption() != "maven") {
            return true;
        } else if (this.isValid()) {
            $('#fileForm').submit();
        } else {
            this.errors.showAllMessages();
            return false;
        }
    }
};
importModel.errors = ko.validation.group(importModel);

var createModel = {
    showMaven: ko.observable(@pf("maven.scope").value.isDefined),
    showSbt: ko.observable(@pf("sbt").value.isDefined)
}

function WizardObject(e)  {
    this.wizard = e;
    e.wizard('setState');
    this.currentStep = function() {
        return this.wizard.wizard('selectedItem').step - 1;
    };
    this.on = $.proxy(this.wizard.on, this.wizard);
    this.selectStep = function(step) {
        for(var i=0; i < step; i++) {
            this.wizard.wizard('next')
        }
    }
}

$(function() {
    ko.applyBindings(importModel, $('#step1').get(0));
    ko.applyBindings(createModel, $('#step2').get(0));
    SyntaxHighlighter.all();

    $('.selectpicker').selectpicker({style: "input-xlarge"});
    @if(!pf("categories").indexes.isEmpty) {
    $('#categories').selectpicker('val', @Html(Json.stringify(Json.toJson(pf("categories").indexes.map(i => pf("categories[%s]".format(i)).value.get)))));
    }

    var w = new WizardObject($('#MyWizard'));
    w.selectStep(@step);
    w.on('change', function(e, data) {
        if (data.step===1 && data.direction==='next') {
            if (!importModel.verifyAndNextStep()) {
                return e.preventDefault();
            }
        } else if (data.step===2 && data.direction==='next') {
            $('#projectForm').submit();
            return e.preventDefault();
        } else if (data.step===3 && data.direction==='next') {
            $('#createForm').submit();
            return e.preventDefault();
        }
    });
    w.on('finished', function() {
        $('#createForm').submit();
    });
});
</script>
}

@styleLinks = {
<link href="@routes.Assets.at("stylesheets/syntaxhighlight/shCore.css")" rel="stylesheet" type="text/css" />
<link href="@routes.Assets.at("stylesheets/syntaxhighlight/shThemeDefault.css")" rel="stylesheet" type="text/css" />
}

@styles = {
    .fuelux code {
        font-size: 14px;
    }
    .step-content {
        border: 1px solid #D4D4D4;
        border-top: 0;
        border-radius: 0 0 4px 4px;
        padding: 20px;
        margin-bottom: 10px;
    }
}

@maintemplate(scripts, styles, styleLinks) {
    <div id="MyWizard" class="wizard">
        <ul class="steps">
            <li data-target="#step1" class="active"><span class="badge badge-info">1</span>Import from<span class="chevron"></span></li>
            <li data-target="#step2"><span class="badge">2</span>Review<span class="chevron"></span></li>
            <li data-target="#step3"><span class="badge">3</span>Create project<span class="chevron"></span></li>
        </ul>
    </div>
    <div class="step-content">
        <div class="step-pane active" id="step1">
            @helper.form(action = routes.AddProject.uploadPom, 'id -> "fileForm", 'enctype -> "multipart/form-data") {
                <label class="radio">
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="manual" data-bind="checked: importOption">
                    Enter data manually
                </label>
                <label class="radio">
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="maven" data-bind="checked: importOption">
                    Import from Maven POM
                </label>
                @custom.fileUpload('id -> "ImportMaven", Symbol("data-bind") -> "visible: importOption() === 'maven'", 'style -> "display:none", '_kobinding -> "fileName")
            }
        </div>
        <div class="step-pane" id="step2">
            @helper.form(action = routes.AddProject.reviewProject, 'id -> "projectForm") {
                <div id="step2controls">
                    @helper.inputText(pf("name"), 'class -> "input-xlarge")
                    @helper.inputText(pf("url"), 'class -> "input-xlarge")
                    @helper.textarea(pf("description"), 'rows -> 4, 'class -> "input-xlarge")
                    <div class="control-group @if(pf("categories").hasErrors) {error}">
                        <label class="control-label">Category</label>
                        <div class="controls">
                            <select class="selectpicker" id="categories" name="categories[]" multiple data-selected-text-format="count > 2">
                                @for(c <- ctx.categories) {
                                <optgroup label="@c.name">
                                        @for(n <- c.children) {
                                        <option value="@n.id">@n.name</option>
                                        }
                                    }
                            </select>
                            <span class="help-inline">@pf("categories").errors.map(_.message).mkString(", ")</span>
                        </div>
                    </div>
                    <input type="hidden" name="id" value='@pf("id").value'/>
                </div>
                <div data-bind="if: showMaven">
                <fieldset id="maven">
                    <button class="btn btn-mini" data-bind="click: function() {showMaven(false)}"><i class="icon-remove"></i>Remove section</button>
                    <legend>Maven</legend>
                    @helper.inputText(pf("maven.groupId"))
                    @helper.inputText(pf("maven.artifactId"))
                    @helper.inputText(pf("maven.version"))
                    @helper.select(pf("maven.scope"), model.MavenScope.values.map {v=>(v.toString,v.toString)}.toSeq, '_showConstraints -> false)
                </fieldset>
                </div>
                <div data-bind="if: showSbt">
                <fieldset id="sbt">
                    <button class="btn btn-mini" data-bind="click: function() {showSbt(false)}"><i class="icon-remove"></i>Remove section</button>
                    <legend>SBT</legend>
                    @helper.inputText(pf("sbt"))
                </fieldset>
                </div>
                <hr/>
                <div class="select btn-group" data-resize="auto">
                    <button type="button" data-toggle="dropdown" class="btn dropdown-toggle">
                        Add
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li data-value="1"><a data-bind="click: function() {showMaven(true)}">Add Maven info</a></li>
                        <li data-value="2"><a data-bind="click: function() {showSbt(true)}">Add SBT info</a></li>
                    </ul>
                </div>
            }
        </div>
        <div id="store" style="display:none">
        </div>
        <div class="step-pane" id="step3">
            @if(step == 2) {
                @projecttemplate(pf.get)
                @helper.form(action = routes.AddProject.createProject, 'id -> "createForm") {
                }
            }
        </div>
        <input type="button" class="btn btn-prev btn-primary" id="btnWizardPrev" value="Prev">
        <input type="button" class="btn btn-next btn-primary" id="btnWizardNext" value="Next" data-last="Create">
    </div>
}
