@(projects: Seq[model.Project])(implicit ctx: views.util.ViewContext)

@import model._

@maintemplate() {
<div class="row-fluid">
    <div class="span9">
        @projectlist(projects)
    </div>
    <div class="span3">
        <h3>Activity stream</h3>

        <p><a href="#">indy256</a> commented on project <a href="#">Apache Maven</a>
        <blockquote>this is bullshit, i hate Maven</blockquote>
        </p>

        <p><a href="#">forest</a> commented on project <a href="#">C++</a>
        <blockquote>C++ is a horrible language. It's made more horrible by the fact that a lot
            of substandard programmers use it, to the point where it's much much
            easier to generate total and utter crap with it. Quite frankly, even if
            the choice of C were to do *nothing* but keep the C++ programmers out,
            that in itself would be a huge reason to use C.</blockquote>
        </p>
    </div>
</div>
}