@(scripts: Html=Html(""), styles: Html=Html(""))(content: Html)(implicit ctx: views.util.ViewContext)

<!DOCTYPE html>
<html class="fuelux">
<head>
    <title>Java & Scala libs and tools</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="@routes.Assets.at("stylesheets/fuelux.min.css")" rel="stylesheet" media="screen">
    <link href="@routes.Assets.at("stylesheets/bootstrap-fileupload.min.css")" rel="stylesheet" media="screen">
    <link href="@routes.Assets.at("stylesheets/bootstrap-select.min.css")" rel="stylesheet" media="screen">
    <style type="text/css">
        body {
        padding-top: 60px;
        padding-bottom: 40px;
        }

        .navbar-search {
        padding-right: 20px;
        }

        .fuelux .dl-horizontal dt {
        text-align: left;
        }
        @styles
    </style>
</head>
<body>
<script src="@routes.Assets.at("javascripts/jquery-1.10.1.js")"></script>
<script src="@routes.Assets.at("javascripts/loader.js")"></script>
<script src="@routes.Assets.at("javascripts/bootstrap-select.min.js")"></script>
<script src="@routes.Assets.at("javascripts/knockout-2.3.0.js")"></script>
<script src="@routes.Assets.at("javascripts/knockout.validation.min.js")"></script>
@scripts
@topnavbar()

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            @leftnavbar(ctx.categories)
        </div>
        <!--/span-->
        <div class="span9">
            @content
        </div>
    </div>

    <hr>
    <footer>
        <p>&copy; Company 2013</p>
    </footer>
</div>
<!--/.fluid-container-->
</body>
</html>