@(project: model.Project)(implicit ctx: views.util.ViewContext)

@import model._
@import SbtDependency._
@import scala.xml.Utility._

<div class="page-header">
    <h1>@project.name <small>@project.languages.mkString(" ")</small></h1>
</div>
<p>@project.description</p>
<dl class="dl-horizontal">
    <dt>Version:</dt>
    <dd>3.0.4</dd>
    <dt>Homepage:</dt>
    <dd><a href="@project.url">@project.url</a></dd>
    @if(project.wiki.isDefined) {
    <dt>Wiki:</dt>
    <dd><a href="@project.url">@project.wiki.get</a></dd>
    }
    @if(project.bugTracker.isDefined) {
    <dt>Bug Tracker:</dt>
    <dd><a href="@project.url">@project.bugTracker.get</a></dd>
    }
</dl>
@if(project.scm.isDefined) {
    <h3>Source code</h3>
    <code>@project.scm.get</code>
}
@if(project.hasDependencies) {
    <h3>Dependencies</h3>
    @if(project.mavenDependency.isDefined) {
    @defining(project.mavenDependency.get) { d=>
        <h4>Maven</h4>
        <pre class="brush: xml; gutter: false;">@d.dependencyDefinition</pre>
    }}
    @defining(project.sbtDependency orElse {project.mavenDependency map fromMavenDependency}) { d=>
    @if(d.isDefined) {
        <h4>SBT</h4>
        <pre class="brush: scala; gutter: false;">libraryDependencies += @d.get.dependencyDefinition</pre>
    }}
}
@projectfooter(project, true, false)