<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <form class="navbar-search pull-left form-inline">
                <input type="text" class="search-query" placeholder="Search">
                <label class="checkbox">
                    <input type="checkbox" checked="true">Java
                </label>
                <label class="checkbox">
                    <input type="checkbox" checked="true">Scala
                </label>
            </form>
            <div class="nav-collapse collapse">
                <p class="navbar-text pull-right">
                    Logged in as <a href="#" class="navbar-link">Username</a>
                </p>
                <ul class="nav">
                    <li><a href="@routes.Application.index">Home</a></li>
                    <li><a href="#about">Add project</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
